.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

img {
  max-width: 100%;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  background: url(../images/bgswirlblue.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #202230;
  font-weight: 300; }

ul {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none;
  color: #202230; }

.wrapper {
  margin: 0 auto;
  padding: 0 3%; }
  @media (min-width: 1000px) {
    .wrapper {
      max-width: 1000px; } }

.bold {
  font-weight: 500; }

h2, h3 {
  font-weight: 200; }

header {
  background-color: #fff;
  margin-bottom: 2em; }

.logo {
  background: url(../images/logo.png) no-repeat;
  text-indent: -9999px;
  width: 190px;
  height: 120px;
  background-size: 190px 120px;
  float: left;
  margin-top: .2em; }

h1 {
  margin: 0; }

.navUl {
  text-align: right;
  line-height: 1.45;
  display: inline-block;
  float: right;
  font-size: .93em;
  font-weight: 400;
  padding-right: .5em;
  border-right: 2px solid #ff1366; }
  @media (min-width: 660px) {
    .navUl {
      margin-top: 60px; }
      .navUl li {
        display: inline-block;
        margin-left: 30px; } }

.navLink {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  @media (min-width: 660px) {
    .navLink:hover {
      color: #ff1366; } }

.navBorder {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ff1366;
  margin: 0 0 3em 0;
  padding: 0; }

footer {
  margin-top: 7em;
  border-top: 2px solid #ff1366;
  padding: 3em 0 1em 0; }
  footer a {
    color: #9a9999;
    font-weight: 200;
    font-size: .8em;
    text-align: center;
    display: inline-block;
    line-height: 1.4;
    letter-spacing: 1px;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease; }
    @media (min-width: 660px) {
      footer a:hover {
        color: #ff1366; } }
  footer h5 {
    color: #9a9999;
    letter-spacing: 1px;
    border-bottom: 1px solid #9a9999;
    font-weight: 400;
    font-size: .9em;
    margin: 0; }
  footer ul {
    margin: .5em 0 2em 0;
    text-align: right; }
  footer p {
    text-align: center;
    color: #9a9999;
    font-size: .75em;
    font-weight: 200;
    margin: 3em 0 0 0; }
  @media (min-width: 500px) {
    footer .footerGroup {
      width: 40%;
      float: left;
      margin-right: 10%; }
    footer .init {
      width: 40%;
      float: left;
      margin-right: 10%; }
    footer .footerGroup2 {
      width: 40%;
      float: right; }
    footer p {
      clear: both; } }
  @media (min-width: 500px) {
    footer {
      clear: both; }
      footer .init {
        margin-right: 0;
        clear: left; } }
  @media (min-width: 660px) {
    footer {
      clear: both; }
      footer .init {
        margin-right: 0;
        clear: left; } }
  @media (min-width: 1000px) {
    footer .footerGroup2 {
      width: 19%;
      display: inline-block;
      float: none;
      margin-right: 7%;
      margin-left: 7%;
      vertical-align: top; }
    footer .footerGroup {
      width: 19%;
      display: inline-block;
      margin-right: 0; }
    footer .init {
      float: none;
      margin-right: 7%; }
    footer .about {
      margin-right: 0;
      display: inline-block;
      margin-left: 0; } }

@media (min-width: 1000px) {
  .footerWrapper {
    margin: 0 auto;
    width: 80%; } }

.marketingArea {
  position: relative;
  overflow: hidden; }

.marketText {
  background-color: rgba(255, 19, 102, 0.8);
  padding-bottom: 8px;
  padding-right: 8px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  @media (min-width: 500px) {
    .marketText {
      width: 50%; } }
  @media (min-width: 660px) {
    .marketText {
      width: 34%; } }
  @media (min-width: 1000px) {
    .marketText {
      width: 33%; } }
  .marketText h2 {
    font-size: 2em;
    display: inline-block;
    margin: 0;
    margin-left: -3px;
    margin-bottom: 2em;
    line-height: .9em; }
    @media (min-width: 660px) {
      .marketText h2 {
        font-size: 3em; } }
    @media (min-width: 800px) {
      .marketText h2 {
        font-size: 3.7em; } }
    @media (min-width: 1000px) {
      .marketText h2 {
        font-size: 4.3em; } }
  .marketText p {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 1em;
    font-size: 1em; }
    @media (min-width: 800px) {
      .marketText p {
        font-size: 1.2em; } }
    @media (min-width: 1000px) {
      .marketText p {
        font-size: 1.45em; } }

.marketingParent {
  position: relative; }

.button {
  display: block;
  border: 2px solid #ff1366;
  padding: .5em 40px .6em 0;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: right;
  margin: .5em 0 0 0;
  color: #dbdbdb;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  .button .point {
    font-size: 1.4em; }
  @media (min-width: 660px) {
    .button {
      padding-right: 0;
      padding-left: 2%;
      position: absolute;
      right: 18px;
      bottom: 18px;
      padding-right: 10px;
      margin: 0;
      border: 2px solid transparent;
      background-color: #ff1366;
      color: #202230;
      width: 28%; } }
  @media (min-width: 660px) {
    .button:hover {
      color: #dbdbdb; } }

h3 {
  color: #dbdbdb;
  font-size: 1.5em;
  letter-spacing: 1px; }

.sidenav {
  padding-bottom: 1.8em;
  margin-top: 0; }

.eventDetail {
  border-top: 4px solid #ff1366; }

.sidenavLink {
  background-color: #dbdbdb;
  font-weight: 600;
  padding: .6em 4%;
  padding-bottom: 1em;
  display: block;
  margin-bottom: 2px;
  position: relative;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
  .sidenavLink:after {
    content: "\00BB";
    position: absolute;
    top: 6px;
    right: 14px;
    font-size: 1.55em;
    font-weight: 200; }
  @media (min-width: 660px) {
    .sidenavLink:hover {
      color: #ff1366; } }

.homeFeature {
  display: block;
  background-color: #dbdbdb;
  padding-bottom: .25em;
  margin-top: 1.5em;
  overflow: hidden; }
  .homeFeature h4, .homeFeature p {
    text-align: right; }
  .homeFeature h4 {
    font-size: 1.5em;
    margin: .5em;
    margin-bottom: .5em; }
  .homeFeature p {
    font-size: 1.1em;
    margin: .5em; }
  .homeFeature .more {
    color: #ff1366;
    font-weight: 300;
    margin-top: -.55em;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease; }
    @media (min-width: 660px) {
      .homeFeature .more:hover {
        color: #202230; } }
  @media (min-width: 660px) {
    .homeFeature {
      width: 100%; } }
  @media (min-width: 1000px) {
    .homeFeature {
      width: 47%;
      float: left;
      margin-top: 1em;
      margin-left: 1.1em; } }

.pic {
  height: 12em;
  overflow: hidden; }

@media (min-width: 660px) {
  .pic img {
    transition: all, 1s, ease; }

  .homeFeature:hover .pic img {
    transform: scale(1.1); } }
@media (min-width: 1000px) {
  .fka {
    margin-top: 0; } }

.home .features {
  margin-top: 0; }

.home .top {
  margin-top: 0; }

@media (min-width: 660px) {
  .features {
    width: 56%;
    float: right;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 7em; } }

.allButton {
  display: block;
  border: 4px solid #ff1366;
  margin-top: 1.5em;
  overflow: hidden;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media (min-width: 660px) {
    .allButton:hover {
      border-color: #202230;
      background-color: #ff1366; }
      .allButton:hover .allEvents {
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
        color: #202230; } }

@media (min-width: 1000px) {
  .allButton {
    width: 46%;
    float: left;
    height: 294px;
    margin-top: 1em;
    margin-left: 1.1em; } }

.allEvents {
  color: #ff1366;
  font-size: 6em;
  line-height: .6;
  margin: 0;
  margin-top: 1.98em;
  margin-left: -12px; }
  .allEvents .bold {
    font-weight: 600; }
  @media (min-width: 1000px) {
    .allEvents {
      margin-top: 1.8em; } }

.pink {
  color: #ff1366; }

@media (min-width: 660px) {
  .sidebar {
    width: 40%;
    float: left; } }
@media (min-width: 800px) {
  .sidebar {
    width: 34%; } }

.pageTitle {
  background-color: #ff1366;
  padding-top: .5em;
  padding-bottom: 0;
  margin-bottom: 5em;
  position: relative; }
  .pageTitle h2 {
    font-size: 1.85em;
    margin: 0;
    position: relative;
    left: -2px;
    bottom: -11px; }
    @media (min-width: 660px) {
      .pageTitle h2 {
        font-size: 2.2em; } }

.features {
  margin-top: .5em; }
  @media (min-width: 1000px) {
    .features {
      width: 66%;
      float: left; } }

.eventBrief {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(135deg, #ff1366, #202230) 3;
  padding: 1em;
  margin: 1em 0;
  width: 90%; }
  .eventBrief h5 {
    color: #dbdbdb;
    font-weight: 100;
    font-size: .85em;
    margin-top: 0;
    text-transform: lowercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 5em; }
  .eventBrief h4 {
    color: #dbdbdb;
    font-weight: 300;
    margin-top: .75em;
    font-size: 1.25em; }
  .eventBrief h3 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: .5em; }
  .eventBrief a {
    color: #ff1366; }
  .eventBrief .more {
    text-align: right;
    color: #ff1366; }
  .eventBrief .eventDescr {
    color: #dbdbdb;
    line-height: 1.5; }
  @media (min-width: 660px) {
    .eventBrief:hover {
      border-image: linear-gradient(-45deg, #ff1366, #202230) 3; } }
  @media (min-width: 660px) {
    .eventBrief:hover .more {
      color: #dbdbdb; } }
  @media (min-width: 1000px) {
    .eventBrief {
      width: 38%;
      float: left;
      margin-left: 5%; } }

.navTitle {
  font-size: 1.5em;
  font-weight: 100;
  display: block;
  padding: .25em .5em;
  margin: 1em 0;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, #ff1366, #202230) 3; }

.calendar span {
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease; }
@media (min-width: 660px) {
  .calendar:hover span {
    color: #dbdbdb; } }

.eventHead {
  position: relative; }
  .eventHead img {
    width: 100%; }

.dateBg {
  background-color: rgba(255, 19, 102, 0.8);
  color: #202230;
  width: 60%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }
  .dateBg h3 {
    color: #202230;
    font-size: 8em;
    line-height: .7em;
    letter-spacing: -2px;
    margin: 0;
    position: absolute;
    right: -10px;
    bottom: -10px; }
  .dateBg span {
    letter-spacing: 0;
    font-weight: 600; }
  .dateBg p {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    transform: rotate(-90deg);
    right: 180px;
    bottom: -4px; }
    .dateBg p span {
      margin: 0;
      padding: 0;
      position: absolute;
      font-size: 2em;
      font-weight: 400;
      display: block;
      letter-spacing: 1px; }
  @media (min-width: 800px) {
    .dateBg {
      width: 50%; } }

.dateWrap {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.detailDescr {
  color: #dbdbdb; }
  .detailDescr h3 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 2em; }
  .detailDescr p {
    margin: .5em 0;
    line-height: 1.5; }
  .detailDescr h4 {
    font-weight: 200;
    margin: 0; }
  .detailDescr .sponsor {
    color: #9a9999;
    font-size: .85em;
    margin: 1em 0 3em 0; }
  .detailDescr .detailBody {
    margin-top: 3em;
    font-size: .9em;
    letter-spacing: 1px; }
  .detailDescr a {
    display: block;
    background-color: #ff1366;
    padding: .5em 40px .6em 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: right;
    margin: 1.5em 0 5em 0;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease; }
    @media (min-width: 660px) {
      .detailDescr a {
        width: 38%;
        padding-right: 0;
        padding-left: 2%;
        text-align: left; } }
    .detailDescr a .point {
      font-size: 1.4em; }
    @media (min-width: 660px) {
      .detailDescr a:hover {
        background-color: #dbdbdb; } }
  @media (min-width: 800px) {
    .detailDescr {
      width: 100%;
      float: right; } }

@media (min-width: 660px) {
  .detail {
    width: 60%;
    float: right;
    padding-top: 1.5em; } }
@media (min-width: 800px) {
  .detail {
    width: 60%; } }

/*# sourceMappingURL=styles.css.map */
